*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.baap{
    margin-left: 500px;
    margin-top: 300px;
    display: flex;
}
button{
    margin: 50px;
    padding:10px;
    background-color: blanchedalmond;
}
body{
    background-color: aqua;
}