@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color:rgb(95, 216, 224);
    background-size: 1680px 1080px;
    font-family: 'Roboto', sans-serif;
    font: bold;
}
