* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  border: 1px solid black;
  position: absolute;
  top: 15%;
  left: 35%;
  padding: 100px;
}

.container h1 {
  margin-left: 100px;
  margin-bottom: 50px;
}

.container input,
button {
  margin: 5px;
  padding: 5px;
}
